body.dark-theme {
  background: #181b20 !important;
  color: #eee !important;
}

body.dark-theme .navbar,
body.dark-theme .sidebar {
  background: #23272e !important;
  color: #fafafa !important;
}

body.dark-theme .nav-link {
  color: #ededed !important;
}

body.dark-theme .nav-link.active {
  background: #353d47 !important;
  color: #fff !important;
}

body.dark-theme .dropdown-menu {
  background: #23272e !important;
  color: #fafafa !important;
  box-shadow: 0 8px 24px rgba(15, 20, 25, 0.27) !important;
}

body.dark-theme .theme-toggle-btn {
  background: #2c5530aa !important;
  color: #ffda58 !important;
}

body.dark-theme .sidebar-heading,
body.dark-theme .title, 
body.dark-theme .byline {
  color: #c0e5cc !important;
}

body.dark-theme .badge {
  background: #2c5530 !important;
  color: #fff !important;
}
